h1{
    text-align: center;
}
.container{
    height: 540px;
    width: 460px;
    background-color: rgb(44, 43, 43);
    margin: auto;
    border-radius: 10px;
    padding: 10px;

}
p{
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#screen{
    width: 440px;
    height: 64px;
    margin: 5px;
    border-radius: 10px;
    font-size: 4rem;
    background-color: white;
    text-align: right;




}
.button{
    height: 70px;
    width: 92px; 
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(97, 95, 95);
    color: white;
    font-size: 2.5rem;

}
.clear{
    background-color: brown;

}
.operator{
    background-color: rgb(181, 180, 179);
}
.button:hover{
    border: 5px solid cornflowerblue;
}